@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root{
    --dark-slate-green: rgb(47,79,79);
    --slate-gray: rgb(163, 166, 170);
    --light-gray: rgb(230,230,230);
    --medium-sea-green: rgb(54, 130, 90);
    --ubuntu-font: 'Ubuntu Mono', monospace;
}

* {
    box-sizing: border-box;
}

html{
    background-color: var(--light-gray);
    font-family: var(--ubuntu-font);
}

body {
    margin: 0;
}

#initial {
    background-color: var(--dark-slate-green);
    position: relative;
    height: 27rem;
    margin: 0 3% 0 3%;
    border-radius: 0 0 20px 20px;
}

#typing-hello {
    position: absolute;
    display: inline-block;
    top: 9rem;
    left: 8rem;
}

#typing-hello #hello-world {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 0 5px 0;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    animation:
        typing-hello 2s steps(20),
        cursor .3s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing-hello {
    from { width: 0; }
    to { width: 100%; }
}

#typing-name {
    position: absolute;
    display: inline-block;
    top: 11.5rem;
    left: 8rem;
}

#typing-name #name{
    font-size: 2rem;
    font-weight: bold;
    color: var(--light-gray);
    padding: 0 6px 0 0;
    overflow: hidden;
    border-right: .15em solid var(--light-gray);
    white-space: nowrap;
    animation:
        typing-name 2.5s steps(30),
        cursor .3s step-end infinite alternate;
}

@keyframes typing-name {
    from { width: 0; }
    to { width: 100%; }
}

#list-contacts{
    list-style: none;
    display: flex;
    position: absolute;
    right: 12.5rem;
    bottom: 2rem;
}

.contact{
    width: 3rem;
    height: 3rem;
    margin: 5px;
    background-color: var(--light-gray);
    box-shadow: 3px 3px gray;
    border-radius: 30%;
    padding: 5px;
}

.contact-logo{
    width: 2.4rem;
    height: 2.4rem;
}

#foto-anthony{
    position: absolute;
    right: 12rem;
    bottom: 7rem;
    width: auto;
    height: 18rem;
    background-color: var(--slate-gray);
    border: 7px solid var(--medium-sea-green);
    border-radius: 30px;
}

/* .flip-card{
    background-color: transparent;
    width: 250px;
    height: 350px;
    margin: 5px;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotatey(180deg);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-gray);
    backface-visibility: hidden;
}
.flip-card-back{
    transform: rotateY(180deg);
} */